{% extends "auctions/layout.html" %}
{% load humanize %}

{% block title %}{{ listing.title }} {% endblock %}

{% block body %}

{% if listing.active == False %}
    <div class="alert alert-dark text-center" role="alert">
        This auction has finished.
    </div>
{% endif %}

<div class="container-lg pt-2 pb-3">
    
    <!--Image and Price section-->
    <div class="row mt-2 align-items-center">
        
        <!-- Image -->
        <div class="col-md-6 col-12 d-flex">
            <img style="max-height: 450px;" class="img-fluid mx-auto"  src= "/media/{{listing.image}}" alt="Photo of {{ listing.title }}">
        </div>

        <!-- Listing Information and Bid Form -->
        <div class="col-md-6 col-12 border align-self-center pt-4 px-4">
            
            <!-- Watchlist -->
            {% if user.is_authenticated %}
                <div class="text-right pb-3">
                    <!-- Watchlist -->
                    <form action="{% url 'watchlist_change' listing_id %}" method="POST" class="d-inline-block">
                        {% csrf_token %}
                        {% if is_in_watchlist %}
                            <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-minus" aria-hidden="true"></i> Watchlist</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Watchlist</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}

            <!-- Listing information -->
            <h3 class="m-0 pb-3">{{ listing.title }}</h3>
            <p class="my-1 pb-3">
                <small><em>"{{listing.description}}"</em></small>
            </p>
            <p class="text-monospace text-muted border-bottom pb-3">
                <small>Created by {{listing.author}} {{ listing.created_at|naturaltime }}</small>
            </p>
            
            <!-- Bid section -->
            <div class="text-center my-4">
                <h5 class="pt-2">
                    {% if listing.active %}Current price:{% else %}Winning bid:{% endif %} <strong>£{{listing.current_price}}</strong>
                </h5>
                
                {% if listing.active %}
                    <!-- Badges -->
                    <small class="mt-0"><span class="badge badge-pill badge-light">{{listing.no_of_bids}} bid(s) so far.</span></small>
                    {% if listing.current_winner == user %} 
                    <small>
                        <span class="badge badge-pill badge-success">Your bid is the highest bid.</span>
                    </small>
                    {% endif %}
                    
                    <!-- Bid form -->
                    {% if user.is_authenticated %}
                    <div class="pt-2">
                        
                        <div class="row pt-2">
                            <div class="col-md-6 col-sm-10 m-auto">
                                <form action="{% url 'addbid' listing_id %}" method="POST">
                                    {% csrf_token %}
                                        {% for field in form %}
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <div class="input-group-text">£</div>
                                                </div>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col text-center my-1">
                                <input class="btn btn-primary ml-2" type="submit" value="Place bid">
                            </form>
                                <!-- Close auction -->
                                {% if user.is_authenticated and user == listing.author and listing.active %}
                                <form action="{% url 'close' listing_id %}" method="POST" class="d-inline-block">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger ml-1">Close auction</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                                
                                </div>
                            </div>
                        

                    <!-- Message for user not logged in -->
                    {% else %}
                        <p class="text-danger pt-1">
                            <small>Please <strong><a href="{% url 'login' %}" class="text-danger">sign in</a></strong> to place your bid.</small>
                        </p>
                    </div>
                    {% endif %}
                
                <!-- If listing not active, show winner -->
                {% else %}
                    
                    {% if listing.current_winner == user %}
                        <span class="badge badge-secondary badge-success">You won this auction!</span>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
    <!--Comment section-->
    <div class="row py-4 justify-content-center">
        
        <div class="col col-sm-10 mx-3 mx-sm-0">
            <h4>Comments <span class="badge badge-secondary">{{ total_comments }}</span></h4>
            
            <!-- Comment form -->
            {% if user.is_authenticated %}
                <form action="{% url 'addcomment' listing_id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group pt-2">
                        {{ comment_form }}
                    </div>
                    <div class="form-group text-right mb-2">
                        <input value="Add comment" class="btn btn-primary" type="submit">
                    </div>
                    
                </form>
            {% else %}
            <p class="text-danger"><small>Please <strong><a href="{% url 'login' %}" class="text-danger">sign in</a></strong> to add a comment.</small></p>
            {% endif %}

        </div>

    </div>

    <div class="container">
        {% for comment in comments %}
            <div class="row border bg-light py-2 mx-0 mx-md-3 mb-3">
                <div class="col-6">
                    <strong>{{ comment.user }}</strong>
                </div>
                <div class="col-6 text-right text-muted">
                    <small><em>{{ comment.time|naturaltime }}</em></small>
                </div>
                <div class="col-xl-12 pt-1">
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}